@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-artemis-dark text-white font-sans antialiased overflow-x-hidden;
  }
}

/* Scrollbar Customization for Premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
